{% extends "layout.html" %}

{% block title %}
    Signups
{% endblock %}

{% block main %}
    <form action="/signups" method="post">
        <div class="form-group">
            <input type="checkbox" name="wednesday" value="day"> Wednesday <br>
            <input type="checkbox" name="saturday" value="day"> Saturday <br>
            <input type="checkbox" name="sunday" value="day"> Sunday <br>
            <input type="checkbox" name="ride" value="ride"> I need a ride. <br>
        </div>
        <div class="form-group"></div>
        <button class="btn btn-primary" type="submit">Sign Up</button>
    </form>
{% endblock %}